
.CopyToClipboard {
  @apply relative;
  
  &[data-size='small'] {
    width: 1.112vw;
    height: 1.112vw;
    min-width: 16px;
    min-height: 16px;
  }
  &[data-size='medium'] {
    width: 1.667vw;
    height: 1.667vw;
    min-width: 24px;
    min-height: 24px;
  }

  .icon {
    @apply absolute top-1/2 left-1/2;
    @apply transform -translate-x-1/2 -translate-y-1/2;
    @apply opacity-0;
    @apply transition-opacity duration-300;
    @apply pointer-events-none;

    &[data-active="true"] {
      @apply opacity-100;
    }
  }
}