.background {
    @apply fixed left-0 top-0 w-screen h-screen -z-20;
    
    .clouds {
      @apply w-full h-full object-cover;
      @apply scale-150;
      animation: bounce 15s infinite ease-in-out;
    }
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(0) translateY(0) scale(1.52);
  }
  50% {
    transform: translateX(.8%) translateY(0.2%) scale(1.52);
  }
}