// @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

//Custom
:root {
  // --fake-between: calc((((100vw - 10vw) - (1020px - 120px))) / 2);
  --padding-x: 5vw;
  --padding-y: 2vh;

  --about-me: 35vw;
  --experiences: 30vw;
  --projects: 20vw;
  --current-project: 40vw;

  --header: 50px;

  --inside-page: calc(100vw - (var(--padding-x) * 2));
  --occupied-area: calc(var(--about-me) + var(--experiences) + var(--projects));
  --fake-between: calc((var(--inside-page) - (var(--occupied-area) - (var(--projects) / 2))) / 1.5);
}

// Globals
* {
  box-sizing: border-box;
  cursor: none;
  line-height: 1.2;
}

body {
  @apply h-screen w-screen;
  @apply overflow-hidden;
  @apply grid;
  grid-template-rows: auto 1fr;

  h1,h3 { 
    font-size: 18px; 
  }

  h2 { 
    font-size: 24px; 
    font-weight: 700;
  }

  h3.small {
    font-size: 16px;
  }

  a {
    @apply underline;

    >* {
      @apply pointer-events-none;
    }
  }

  button {
    @apply cursor-none;
  }
}

@media screen and (min-width: 1920px) {
  body {
    h1,h3 {
      font-size: 23px;
    }
    h2 {
      font-size: 29px;
    }
    h3.small {
      font-size: 21px;
    }
  }
}

@media screen and (min-width: 1441px) {
  :root {
    // --fake-between: 8vw;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --fake-between: calc((((1200px - 4vw) - 1020px)) / 2);
  }
}

@media screen and (max-width: 768px) {
  body {
    @apply h-auto overflow-y-auto;
  }
}

