.header {
  @apply relative z-30;
  @apply w-screen h-[var(--header)];
  @apply px-[var(--padding-x)];
  @apply flex justify-between items-center;
  background-color: #F5F5F5;

  .logo {
    font-size: 24px;
    letter-spacing: -0.5px;
  }

  .actions {
    @apply flex items-center gap-[36px];

    .medias {
      @apply flex items-center gap-[12px];
    }
  }
}